* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: inherit;
    display: inline-block;
    text-decoration: none;
}

header {
    width: 100%;
    max-width: 1281px;
    margin: 0 auto;
    padding: 3rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.h-botton {
    border: none;
    background-color: transparent;
    color: #484848;
    transition: 400ms;
}

.right-box {
    display: flex;
    flex-direction: row-reverse;
    gap: 54px;
}

.h-botton:hover {
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 1rem 2rem;
    transition: 500ms;
    box-shadow: rgba(0, 0, 0, 0.249) 0 7px 10px 1px;
    cursor: pointer;
}

.hero-section {
    width: 100%;
    max-width: 1281px;
    margin: 0 auto;
    display: flex;
    gap: 20px;

}

.pic {
    background-color: #E0E0E0;
    border-radius: 10px;
    width: 392px;
    height: 765.18px;
    position: relative;
    overflow: hidden;
}

.man-in-orange {
    position: absolute;
    top: 197px;
    right: 89px;
}

.man-inbrown {
    position: absolute;
    top: 197px;
    right: 2px;
}

.women-group {
    background-color: #E0E0E0;
    border-radius: 10px;
    padding: 5px 13px 0 13px;
}

.sale {
    width: 399px;
    margin: 36.5px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.COLLECTION-title {
    color: #484848;
    font-size: 20px;
    margin: 0 6.5rem;

}

.shop-now {
    color: white;
    background-color: black;
    padding: 21px 25px;
    border-radius: 10px;
    width: 207px;
}

.shop-now:hover {
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.249) 0 7px 10px 1px;
    cursor: pointer;
    transition: 300ms;
}

.logo-container::-webkit-scrollbar {
    display: none;
}

.logo-container {
    width: 1230px;
    padding: 3rem;
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-direction: row;
    gap: 70px;
    overflow-x: auto;
    margin: 6rem auto;
}




.logos {
    display: block;
    margin: 0 auto;

}

.scroll {
    display: flex;
    gap: 4rem;
    animation: scroll-ani 10s infinite linear;
}

@keyframes scroll-ani {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}



.deals-container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 5rem;

    display: flex;
    gap: 100px;
}


.left-box {
    width: 100%;
    max-width: 444px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.buy-now {
    width: 444px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.right-box2 {
    width: 100%;
    max-width: 1340px;
}


.slider {
    overflow-x: auto;
    width: 100%;
    max-width: 1220px;
}

.cards {
    animation: slider-animation 10s infinite linear;
    display: flex;
    gap: 30px;
}

.cards img {
    border-radius: 20px;
}

.slider::-webkit-scrollbar {
    display: none;

}

@keyframes slider-animation {

    0% {
        transform: translateX(0);

    }

    100% {
        transform: translateX(-50%);
    }
}



.new-arrivals {
    width: 100%;
    max-width: 1281px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;

}

.new-header {
    width: 600px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}


.option-bar {
    display: flex;
    gap: 30px;
    margin: 0 auto;
}

.option {
    padding: 1rem 2rem;
    color: #8A8A8A;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    transition: 500ms;
}

.option:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    transition: 500ms;
    box-shadow: rgba(0, 0, 0, 0.249) 0 7px 10px 1px;

}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

.card {
    width: 100%;
    max-width: 386px;
    box-shadow: rgba(0, 0, 0, 0.249) 0 0px 38px -10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition: 500ms;
}

.card:hover {
    transform: translateY(-20px);
    transition: 500ms;

}

.name {
    display: flex;
    justify-content: space-between;
}

.content {
    width: 336px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.prise {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.quality {
    width: 100%;
    max-width: 1316px;
    margin: 0 auto;
    display: flex;
    gap: 100px;
    padding: 20px;
    box-shadow: rgba(194, 194, 194, 0.424) 0 32px 55px 0;
}

.follow-insta {
    width: 100%;
    max-width: 1920px;
    margin: 150px auto;
    display: flex;
    flex-direction: column;
    gap: 100px;


}


.text {
    width: 100%;
    max-width: 614px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.Customers {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 2rem 8rem;
    display: flex;
    flex-shrink: 1;
    gap: 100px;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #FAFAFA;
    z-index: -10;

}

.position {
    position: absolute;
    z-index: -10;
    top: 169px;
    right: 35px;
}

.position2 {
    position: absolute;
    z-index: -10;
    top: 169px;
    left: 92px;
}

.title {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}


.Customer {
    width: 864px;
    padding: 5rem 5rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.249) 0 0px 38px -10px;
    display: flex;
    gap: 40px;
    position: relative;
    background-color: white;


}

.line {
    border-top: #484848 solid 1px;
    width: 230px;

}

.under-pic {
    width: 242px;
    height: 242px;
    background-color: #D9D9D9;
    z-index: -1;
    position: absolute;
    top: 97px;
    left: 62px;
}

.picture-part {
    z-index: 1;
}

.coment {
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: #484848;
}

.last-part {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 199px 154px;
}

.standing {
    display: flex;
    width: fit-content;
    margin: 0 auto;

}

.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    width: 631px;

}

#email {
    border: none;
    padding: 2rem 1rem;
    width: 500px;
    box-shadow: #8a8a8a7a 0px 6px 10px 0px;
    border-radius: 10px;
}

footer{
    width: 100%;
    max-width: 1920px;
    border-top: 1px solid #b9b8b8;
    margin: 0 auto;
    padding: 2rem 10rem ;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.links{
    display: flex;
    flex-direction:row-reverse ;
    gap: 30px;
    color: #8A8A8A;
}